<div class="container">
  <div class="row">
    <div class="col-12">

        <h1><%=  @restaurant.name %></h1>
        <div>
          <p class="m-0"><%= @restaurant.address %></p>
          <p class="m-0"><%= @restaurant.phone_number %></p>
          <p class="m-0"><%= @restaurant.category %></p>
          <p class="m-0"><%= link_to "Add a comment", new_restaurant_review_path(@restaurant) %></p>
          <p class="m-0">
            <%= @restaurant.reviews.each do |review| %>
            <%= "#{review.content} #{review.rating}" %>
            <% end %>
          </p>
      </div>
    </div>
  </div>
</div>
